* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

/* Layout */

.container {
    max-width: 1330px;
    padding: 0 15px;
    margin: auto;
}

/* Navigation Bar & Logo */

.navbar {
    display: flexbox;
    padding: 20px 0;
    margin-left: -15px;
    margin-right: -15px;
}


.navbar-link {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navbar-link li {
    display: block;
    flex-basis: 50%;
}

.navbar li a:hover {
    color: #0065FC;
}

.logo {
    padding-left: 15px;
}

.navbar-link-cta {
    display: flex;
    font-weight: 500;
    text-align: right;
    padding-right: 25px;
}

.cta-color {
    color: #0065FC;
}

.navbar-link-option {
    display: block;
    color: black;
    padding: 30px 0 15px 0px;
    border-bottom: 3px solid #F2F2F2;
    cursor: pointer;
    font-weight: 300;
    text-align: center;
}

.navbar-link-option:hover {
    border-bottom-color: #0065FC;
}

/* Tagline & Search */


.tag-line-heavy {
    display: flex;
    font-weight: 600;
    font-size: x-large;
    padding: 5px 0px;
    flex-wrap: wrap;
}

.tag-line-light {
    display: block;
    font-weight: 300;
    font-size: medium;
    padding: 5px 0px;
    margin-bottom: 20px;
}

.search {
    display: flex;
    
    position: relative;
    max-width: 400px;
}

.search-location-input {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: large;
    padding: 12px 60px;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 10px;
    max-width: 400px;
}

.search-button {
    display: inline-block;
    position: absolute;
    right: 0;
    color: white;
    background-color: #0065FC;
    border: none;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.search-text {
    display: none;
    font-size: medium;
}

.map {
    position: absolute;
    padding-left: 30px;
    display: inline-block;

}

.map-icon {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #f2f2f2;
    width: 30px;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 23px;
    cursor: pointer;
}



/* Filter Section */

.filters {
    display: block;
    margin-top: 15px;
}

.filter-heading {
    display: flex;
    margin-bottom: 5px;
}

.filter-item {
    display: inline-block;
    position: relative;
    padding: 10px 15px 12px 50px;
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    margin: 5px 10px 5px 0;
}

.romantic{
padding-right: 35px;
margin-left: 5px;
}

.pets-all{
    padding-right:55px;
}
.filter-icon {
    position: absolute;
    left: 0;
    right: 1000;
    top: 0;
    bottom: 0;
    background-color: #DEEBFF;
    color: #0065fc;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    padding: 20px 20px 20px;
}

.info {
    margin-top: 25px;
}

.info-text {
    display: flex;
    font-weight: 300;
    align-items: center;
    line-height: 20px;
    margin: -20px 25px 30px 30px;
}

.info-icon {
    background-color: white;
    border: 2px solid #f2f2f2;
    border-radius: 40px;
    color: #0065fc;
    padding: 3px 9px;
    margin-right: 5px;

}



/* Most Popular Section */


.reverse {
    flex-direction: row-reverse;
}

.bg {
    background-color: #f2f2f2;
    padding-top: 15px;
    padding-bottom: 40px;
}

.pop-heading {
    display: inline-block;
}

.pop-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.mg-bttm{
    margin-bottom: 15px;
}

.pop-card{
    display: flex;
    background-color: white;
    border: 5px solid white;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 10px;
    border-radius: 20px;
    flex-direction: row;
    height: 140px;
}

.pop-card-body{
    padding-top: 5px;
}
.pop-card-img-left {
    border-radius: 15px 0px 0px 15px;
    max-width: 100%;
    width: 150px;
}

.pop-card-img-left.small {
    object-fit: cover;
}

.pop-card-heading {
    color: black;
    font-weight: 700;
    margin-bottom: 5px;
    margin-left: 20px;
}

.pop-card-text {
    color: black;
    font-weight: 600;
    font-weight: 300;
    margin-bottom: 30px;
    margin-left: 20px;
}

.pop-card-heading-mh {
    color: black;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 20px;

}

.pop-card-rating {
    color: #0065FC;
    font-size: 6px;
    padding-left: 20px;
    padding-top: 10px;
}
.pop-card-rating-mh{
    color: #0065FC;
    font-size: 6px;
    padding-left: 20px;
}
.rating{
    color: #F2F2F2;
}



/* Accommodations Section */
.row {
    flex-direction: row;
}

.reverse {
    flex-direction: row-reverse;
}

.col {
    flex-direction: column;
    width: 100%;
}

.col-4 {
    width: 40%;
}

.accommodation {
    margin-top: 20px;
    margin-bottom: 20px;
}

.acc-heading {
    margin-top: 40px;
}

.accommodation-card {
    display: block;
    border: 5px solid white;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 10px;
    border-radius: 15px;
    flex-direction: column;
    
}

.accommodation-card-img-top {
    border-radius: 10px 10px 0 0;
    width: 100%;
    max-width: 100%;
}

.accommodation-card-img-top.small {
    height: 110px;
    object-fit: cover;
}

.accommodation-card-body {
    padding: 8px;
}

.accommodation-card-heading {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 16px;
    color: black;
    padding-left: 5px;
}

.accommodation-card-text {
    color: black;
    font-weight: 600;
    font-size: smaller;
    padding-left: 5px;
}

.accommodation-card-rating {
    color: #0065FC;
    font-size: 6px;
    margin-top: 10px;
    padding-left: 5px;
}

.rating {
    color: #F2F2F2;
}

.show-more {
    font-weight: 600;
    font-size: large;
    margin: 30px 0 20px 0;
}

/* Activity */

.row {
    display: flex;
    flex-direction: column;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 20px;
}

.activity-heading {
    margin-bottom: 20px;
}

.activity-card-col{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 10px;
    border-radius: 15px;
    flex-direction: column;
}

.col {
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%;
}

.mg-bttm-20{
    margin-bottom: 20px;
}

.activity-card-img-top {
    border-radius: 15px 15px 0 0;
    max-width: 100%;
    object-fit: cover;
    width: 300%;
    object-position: 50% 22%;
}

.activity-card-img-top.small {
    height: 130px;
}

.activity-card-img-top.small.pf {
    object-position: 50% 42%;
}

.activity-card-img-top.small.lp {
    object-position: 50% 26%;
}

.activity-card-body {
    padding: 10px 0 10px 20px;

}

/* Footer */

.footer {
    background: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 15px;
}

.footer-container {
    margin-bottom: 30px;
}

.footer-heading {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 600;
}

.footer-text {
    margin-bottom: 10px;
    font-weight: 300;
}


/* Medium screens */

@media all and (min-width:768px) {}

/* Large Screens */

@media all and (min-width:1024px) {

    .container {
        max-width: 1330px;
        padding: 0 15px;
        margin: auto;
    }

    /* Navigation */
    .navbar {
        display: flexbox;
        padding: 0;
    }

    .navbar-link {
        list-style: none;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    .navbar-link li {
        display: block;
        flex-basis: auto;
    }

    .navbar-link-cta {
        order: 3;
        display: flex;
        font-weight: 500;
        text-align: right;
        padding: 30px;
        border-top: 2px solid #F2F2F2;
    }

    .navbar-link-option {
        padding: 30px;
        border-top: 2px solid #F2F2F2;
        border-bottom: none;
    }

    .navbar-link-option:hover {
        border-top-color: #0065FC;
    }

    .navbar-link-cta:hover {
        border-top-color: #0065FC;
    }

    .ml-auto {
        margin-left: auto;
    }


    /* Tagline */
    .tag-line-light {
        margin-bottom: 5px;
    }

    .tag-line-heavy {
        padding: 0;
    }

    .tag-line-light {
        padding: 0;
        margin-top: 5px;
    }

    /* Search */
    .search {
        margin: 0;
        padding-top: 10px;
    }

    .search-text {
        display: inline-block;
        font-weight: 600;
    }

    .search-location-input {
        margin-left: 15px;
        padding: 12px 50px;
        margin-bottom: 0px;
    }

    .search-button {
        border-radius: 0px 15px 15px 0;
        width: auto;
    }

    .search-icon {
        display: none;
    }

    .map {
        margin-left: 0px;
    }

    /* Filter */
    .filters {
        margin: 20px 20px 20px 5px;
    }

    .filter-heading {
        display: inline-block;
        padding-right: 20px;
        width: auto;
    }

    .info-text {
        width: 28%;
        margin: -20px 25px 20px 40px;
    }

    .info {
        margin-left: 0px;
        margin-right: 20px;
    }

    .info-icon {
        margin-right: 5px;
    }

    /* Popular */

    .row.reverse {
        display: flex;
        flex-direction: row-reverse;

    }

    .bg {
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        justify-items: center;
    }

    .col-4 {
        width: 40% !important;
    }

    .pop-card {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
    
    }
    .pop-card-body {
        padding-left: 10px;
    }

    
    .pop-card-heading {
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
        padding-bottom: 5px;
    }

    .pop-heading{
        padding: 0 15px;
    }
    .pop-card-heading-mh {
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
        
        padding-bottom: 15px;
    }

    .pop-card-text {
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0px;
        padding-bottom: 40px;
    }

    .pop-card-text.mh {
        margin-top: 0;
        margin-left: 0;
        padding-bottom: 50px;
    }

    .pop-card-rating {
        margin-left: 0;
        margin-top: 0;
        padding-left: 5px;
    }

    .pop-card-rating-mh{
        padding-left: 5px;
    }
    .pop-card-img-left {
        width: 150px;
    }

    .pop-card-img-left.small {
        height: auto;
    }

    .mg-bttm-20 {
        margin-bottom: 20px;
    }

    .mg-bttm-30{
        margin-bottom: 30px;
    }
    .chart-icon {
        left: 180px;
        padding: 0 15px;
    }

    /* Accommodations */
    .acc-bg {
        background-color: #f2f2f2;
        padding: 15px;
        border-radius: 15px;
        
    }

    .accommodation-card-body {
        background-color: white;
    }

    .acc-heading {
        display: inline-block;
        margin: 0;
    }

    .show-more {
        margin: 10px 0 30px 40px;
       
    }

    .col-md-4 {
    flex: 0 0 33.3333333%;
    max-width: 33.3333333%;
}

.col-sm-8{
    flex: 0 0 66.666666%;
    max-width: 66.66666%;
}
    /* Activities */
    .activity-heading {
        margin-top: 50px 
    }

    .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }

    .col,
    .col-4 {
        padding: 0 15px;
    }

    

    .col-md-3 {
    flex: 0 0 25%;
    max-width: 90%;
}
    .activity-card-col {
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.2) 0 3px 10px;
        border-radius: 15px;
        flex-direction: column;
    }
    .tall{
    height: 100%;
}

.short{
    min-height: 150px;
}
    .row {
        flex-direction: row;

    }
    .mg-bttm-0{
    margin-bottom: 0;
}
    .activity-card-img-top{
        flex-grow: 1;
    }

    /* Footer */
    .footer {
        height: auto;
        margin: 0px;
        padding: 0;
    }

    .row-footer {
        display: flex;
        justify-content: space-between;
        padding-right: 300px;
    }

    .footer-heading {
        margin-top: 30px;
        margin-bottom: 15px;
        font-weight: 500;
    }

    .footer-text {

        font-weight: 300;
    }
}
