.filters{

} 


.info-text{


}

/*  
.info-icon{
   display: inline-block;
   background-color: white;
   color:#0065FC;
   border: 15px solid #f2f2f2;
   border-radius: 50%;
   height: 20px;
   width: 20px;
   text-align: center;
   line-height: 20px;
}
*/
.info-icon{
    background-color: white;
    border: 0.125rem solid #f2f2f2;
    border-radius: 50%;
    color: #0065fc;
    padding: 0.1875rem 0.625rem;

}