.filters {
    display: block;
    margin: 20px 20px 10px 20px ;
}

.filter-heading {
    display: flex;
}

.filter-item {
    display: inline-block;
    position: relative;
    padding: 10px 15px 12px 50px;
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    margin: 10px 5px 3px 5px;
}


.filter-icon {
    position: absolute;
    left:0;
    right: 1000;
    top: 0;
    bottom: 0;
    background-color: #DEEBFF;
    color: #0065fc;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    padding: 20px 20px 20px;
}

.info {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 20px;
}

.info-text {
    display: flex;
    font-weight: 300;
    align-items: center;
    line-height: 20px;
    margin-top: -20px;
    margin-left: 25px;
    margin-right: 20px;
}

.info-icon {
    background-color: white;
    border: 2px solid #f2f2f2;
    border-radius: 40px;
    color: #0065fc;
    padding: 3px 9px;
    margin-right: 5px;
    margin-left: -10px;
}