* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}


/*Header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}


/* Navigation Bar */

li,
a {
    text-decoration: none;
}

.logo {
    cursor: pointer;
}

.navbar {
    list-style: none;
}

.navbar li {
    display: inline-block;
    justify-content: flex-start;
    padding: 20px 20px;
}

.navbar li a:hover {
    color: #0065FC;
}


/* Large */

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    flex-direction: row-reverse;
}


/* Medium screens */

@media all and (max-width: 800px) {
    .navbar {
        justify-content: space-around;
    }
}


/* Small screens */

@media all and (max-width: 480px) {
    .navbar {
        flex-flow: row wrap;
    }
    .logo {
        margin-bottom: 60px;
    }
    .cta {
        margin-left: 60px;
    }
    .items {
        margin-left: px;
    }
    .footer {
        flex-flow: column wrap;
    }
}


/*Find search section*/

#search {
    border: thin solid #f2f2f2;
    border-radius: 15px;
    padding: 10px 15px 10px 20px;
    margin: 10px auto;
    font-family: "Raleway";
    font-weight: 700;
}


/*Filter Section*/

.options {
    border: thin solid #f2f2f2;
    border-radius: 50px;
    text-align: right;
    display: inline-block;
    padding: 8px 15px 8px 20px;
    margin: 2% auto;
    font-weight: 700;
}


/*Most Popular Section*/

.popular container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.popcards {
    border-radius: 20px;
    border: 3px solid #f2f2f2;
    padding: 2%;
    width: 20%;
    margin: 2% auto;
    justify-content: baseline;
}


/*Accommodations*/

.container accommodations {
    display: flex;
    justify-content: space-between;
    border: 40% solid #f2f2f2;
    flex-wrap: wrap;
    justify-content: baseline;
}


/* Activities */

.container activities {
    display: flex;
    justify-content: baseline;
    justify-content: space-between;
}


/*Footer*/

.footer {
    display: flex;
    justify-content: space-between;
}


/*Layout order*/

.wrapper {
    display: flex;
    flex-flow: row wrap;
}


/* We tell all items to be 100% width, via flex-basis */

.wrapper>* {
    flex: 1 100%;
}


/* We rely on source order for mobile-first approach
 * in this case:
 * 1. header
 * 2. article
 * 3. aside 1
 * 4. aside 2
 * 5. footer
 */


/* Medium screens */

@media all and (min-width: 600px) {
    /* We tell both sidebars to share a row */
    .aside {
        flex: 1 auto;
    }
}


/* Large screens */

@media all and (min-width: 800px) {
    /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
    .main {
        flex: 2 0px;
    }
    .aside-1 {
        order: 1;
    }
    .main {
        order: 2;
    }
    .aside-2 {
        order: 3;
    }
    .footer {
        order: 4;
    }
}