.activity {
    margin-bottom: 50px;
}

.activity-heading {
    margin: 30px;
}

.activity-card {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 10px;
    border-radius: 15px;
    flex-direction: column;
    margin: 20px;
}

.activity-card-img-top {
    border-radius: 15px 15px 0 0;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    object-position: 50% 22%;
}

.activity-card-img-top.small {
    height: 130px;
}

.activity-card-img-top.small.pf {
    object-position: 50% 42%;
}

.activity-card-img-top.small.lp {
    object-position: 50% 26%;
}

.activity-card-body {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 1rem;
    color: black;
    padding: 10px 0 10px 20px;
}
