#tag-line p{
    display: flex;
    
}

.tag-line-heavy{
    display: block;
    font-weight: 900;
    font-size: x-large;
    padding: 10px 20px;
    flex-wrap: wrap;

}

.tag-line-light{
    display: block;e
    font-weight: 300;
    font-size: 100%;
    padding: 0px 20px;
}

#search{
    padding: 20px;
    border-radius: 30%;
}

.search-location{
    font-weight: 700;
    color: black;
}