* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}


/* Navigation Bar */

li,
a {
    text-decoration: none;
}

.logo {
    cursor: pointer;
}

.navbar {
    list-style: none;
}

.navbar li {
    display: inline-block;
    justify-content: flex-start;
    padding: 20px 20px;
}

.navbar li a:hover {
    color: #0065FC;
}


/* Large */

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    flex-direction: row-reverse;
}


/* Medium screens */

@media all and (max-width: 800px) {
    .navbar {
        justify-content: space-around;
    }
}


/* Small screens */

@media all and (max-width: 480px) {
    .navbar {
        flex-flow: row wrap;
    }
    .logo {
        margin-bottom: 60px;
    }
    .cta {
        margin-left: 60px;
    }
    .items {
        margin-left: px;
    }
    .footer {
        flex-flow: column wrap;
    }
}