/* Navigation Bar & Logo */

.navbar {
    display: flexbox;
    padding: 20px 0;
}


.navbar-link {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navbar-link li {
    display: block;
    flex-basis: 50%; 
}

.navbar li a:hover {
    color: #0065FC;
}

.logo {
    padding-left: 20px;
}

.navbar-link-cta {
    display: flex;
    font-weight: 500;
    text-align: right;
    padding-right: 25px;
}
.cta-color{
    color: #0065FC;
}

.navbar-link-option{
    display: block;
    color:black;
    padding: 30px 0 15px 0px;
    border-bottom: 3px solid #F2F2F2;
    cursor: pointer;
    font-weight: 300;
    text-align: center;
    
}
 
.navbar-link-option:hover {
    border-bottom-color:#0065FC;
    
}


/* Medium screens */

@media all and (min-width:768px) {

}

/* Large Screens */

@media all and (min-width:1024px) {
 
.navbar {
     
 }

 .navbar-link {
     list-style: none;
     display: flex;
     align-items: center;
 }

.navbar-link li {
    display: block;
}

.navbar-link-cta {
    order: 3;
    font-weight: 500;
    text-align: right;
    padding-right: 25px;
}

.navbar-link-option {
    display: block;
    color: black;
    padding: 30px 0 15px 0px;
    border-bottom: 3px solid #F2F2F2;
    cursor: pointer;
    font-weight: 300;
    
}

.navbar-links{
    margin-left: auto;
}

 }


